


<div class="container" style="align-content: center">
  <h1>Быстрый поиск программы обучения</h1>
  <form novalidate [formGroup]="myForm" (ngSubmit)="searchForParams(myForm)">
    <div class="form-group col-sm-4">
      <div class="d-flex flex-column">
        <label for="level" class="control-label">Уровень образования: </label>
          <select id="level" formControlName="level" class="form-control">
            <option disabled selected value>
            <option *ngFor="let l of levels" [ngValue]="l">{{l.name}}</option>
          </select>
      </div>

    </div>
    <div class="form-group col-sm-4">
      <div class="d-flex flex-column">
          <label for="vector" class="control-label">Направление: </label>
          <select id="vector" formControlName="vector" class="form-control">
            <option disabled selected value>
            <option *ngFor="let v of vectors" [ngValue]="v">{{v.name}}</option>
          </select>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <button type="submit" class="btn btn-danger">Найти</button>
    </div>
  </form>
</div>

<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
    <div class="container">
      <h1>One Page Wonder</h1>
      <h2>Will Knock Your Socks Off</h2>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <hr class="featurette-divider">

  <!-- First Featurette -->
  <div class="featurette" id="about">
    <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
    <h2 class="featurette-heading">This First Heading
      <span class="text-muted">Will Catch Your Eye</span>
    </h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <!-- Second Featurette -->
  <div class="featurette" id="services">
    <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
    <h2 class="featurette-heading">The Second Heading
      <span class="text-muted">Is Pretty Cool Too.</span>
    </h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <!-- Third Featurette -->
  <div class="featurette" id="contact">
    <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
    <h2 class="featurette-heading">The Third Heading
      <span class="text-muted">Will Seal the Deal.</span>
    </h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">


</div>
