<h1>Быстрый поиск программы обучения</h1>
<form novalidate [formGroup]="myForm" (ngSubmit)="searchForParams(myForm)">
  <label>Уровень образования: </label><br/>
  <div class="col-md-4">
    <select formControlName="level" class="form-control">
      <option disabled selected value>
      <option *ngFor="let l of levels" [attr.value]="l">{{l.name}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <label>Направление: </label><br/>
    <select formControlName="vector" class="form-control">
      <option disabled selected value>
      <option *ngFor="let v of vectors" [attr.value]="v">{{v.name}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <button type="submit" class="btn btn-danger">Найти</button>
  </div>
</form>
