<div id="preloader">
  <div class="loader"></div>
</div>
<div class="container" style="margin: 90px">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-body">
        <form class="form-horizontal" *ngIf="personInfo">
          <legend style="text-align: center;">{{'PERSONAL_INFO' | translate}}</legend>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="firstName" class="control-label">{{'FIRST_NAME' | translate}}: </label>
                <input required type="text" class="form-control required" id="firstName" placeholder="{{'FIRST_NAME' | translate}}..."
                       [(ngModel)]="personInfo.firstName" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="lastName" class="control-label">{{'SURNAME' | translate}}: </label>
                <input type="text" class="form-control required" id="lastName" placeholder="{{'SURNAME' | translate}}..."
                       [(ngModel)]="personInfo.lastName" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="middleName" class="control-label">{{'PATRONYMIC' | translate}}: </label>
                <input required type="text" class="form-control" id="middleName" placeholder="{{'PATRONYMIC' | translate}}..."
                       [(ngModel)]="personInfo.middleName" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="gender" class="control-label">{{'GENDER' | translate}}: </label>
                <select class="selectpicker form-control required" id="gender" [(ngModel)]="personInfo.gender"
                        [ngModelOptions]="{standalone: true}">
                  <option [selected]="personInfo.gender == ''" disabled value="">{{'SELECT_A_VALUE' | translate}}</option>
                  <option value="Мужской">{{'MALE' | translate}}</option>
                  <option value="Женский">{{'FEMALE' | translate}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="citizenship" class="control-label">{{'CITIZENSHIP' | translate}}: </label>
                <select class="form-control required" id="citizenship" [(ngModel)]="personInfo.citizenship"
                        [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let citizenship of countries.getCountries()">{{citizenship.title}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="dateOfBirth" class="control-label">{{'DATE_OF_BIRTH' | translate}}: </label>
                <input type="date" class="form-control required" id="dateOfBirth" placeholder="{{'DATE_OF_BIRTH' | translate}}..."
                       [(ngModel)]="personInfo.dateOfBirth"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <legend style="text-align: center;">{{'EDUCATIONAL_SKILLS' | translate}}</legend>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-5">
              <div class="d-flex flex-column">
                <label for="currentLevelOfEducation" class="control-label">{{'LEVEL_OF_EDUCATION_AVAILABLE' | translate}}: </label>
                <select type="text" class="form-control required" id="currentLevelOfEducation"
                        [(ngModel)]="personInfo.currentLevelOfEducation"
                        [ngModelOptions]="{standalone: true}">
                  <option *ngFor='let currentLevelOfEducation of currentLevelsOfEducation'>
                    {{currentLevelOfEducation | translate}}
                  </option>
                </select>
              </div>
            </div>
            <div style="margin-left: 50px;" class="form-group col-sm-5">
              <div class="d-flex flex-column">
                <label for="countryEducation" class="control-label">{{'COUNTRY_WHERE_THE_INSTITUTION_IS_ENROLLED' | translate}}: </label>
                <select class="form-control required" id="countryEducation"
                        [(ngModel)]="personInfo.countryEducation"
                        [ngModelOptions]="{standalone: true}">
                  <option *ngFor='let countryEducation of countries.getCountries()'>
                    {{countryEducation.title | translate}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-7">
              <div class="d-flex flex-column">
                <label for="nameCompletedInstitution" class="control-label">{{'NAME_OF_THE_INSTITUTION_THAT_YOU_GRADUATED_FROM' | translate}}: </label>
                <input type="text" class="form-control required" id="nameCompletedInstitution"
                       placeholder="{{'NAME_OF_THE_INSTITUTION_THAT_YOU_GRADUATED_FROM' | translate}}..."
                       [(ngModel)]="personInfo.nameCompletedInstitution"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div style="margin-left: 50px;" class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="yearOfEnding" class="control-label">{{'YEAR_OF_ENDING' | translate}}: </label>
                <input type="text" class="form-control required" id="yearOfEnding"
                       placeholder="{{'YEAR_OF_ENDING' | translate}}..."
                       [(ngModel)]="personInfo.yearOfEnding"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="nativeLanguage" class="control-label">{{'NATIVE_LANGUAGE' | translate}}: </label>
                <input required type="text" class="form-control required" id="nativeLanguage"
                       placeholder="{{'NATIVE_LANGUAGE' | translate}}..."
                       [(ngModel)]="personInfo.nativeLanguage" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="russianLanguageLevel" class="control-label">{{'LEVEL_OF_RUSSIAN' | translate}}: </label>
                <select required type="text" class="form-control required" id="russianLanguageLevel"
                        [(ngModel)]="personInfo.russianLanguageLevel" [ngModelOptions]="{standalone: true}">
                  <option *ngFor='let russianLanguageLevel of russianLanguageLevels'>
                    {{russianLanguageLevel}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="сertificateInRussian" class="control-label">{{'CERTIFICATE_IN_RUSSIAN_LANGUAGE' | translate}}: </label>
                <select type="text" class="form-control required" id="сertificateInRussian"
                        [(ngModel)]="personInfo.certificateInRussian" [ngModelOptions]="{standalone: true}">
                  <option *ngFor='let certificateInRussian of certificatesInRussian'>
                    {{certificateInRussian}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="englishLanguageLevel" class="control-label">{{'LEVEL_OF_ENGLISH' | translate}}: </label>
                <select type="text" class="form-control required" id="englishLanguageLevel"
                        [(ngModel)]="personInfo.englishLanguageLevel" [ngModelOptions]="{standalone: true}">
                  <option *ngFor='let englishLanguageLevel of englishLanguageLevels'>
                    {{englishLanguageLevel | translate}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="сertificateInEnglish" class="control-label">{{'CERTIFICATE_IN_ENGLISH' | translate}}: </label>
                <select type="text" class="form-control required" id="сertificateInEnglish"
                        [(ngModel)]="personInfo.certificateInEnglish" [ngModelOptions]="{standalone: true}">
                  <option *ngFor='let certificateInEnglish of certificatesInEnglish'>
                    {{certificateInEnglish | translate}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-3">
              <div class="d-flex flex-column">
                <label for="otherLanguages" class="control-label">{{'KNOWLEDGE_OF_OTHER_LANGUAGES' | translate}}: </label>
                <input required type="text" class="form-control required" id="otherLanguages"
                       placeholder="{{'KNOWLEDGE_OF_OTHER_LANGUAGES' | translate}}..."
                       [(ngModel)]="personInfo.otherLanguages" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <legend style="text-align: center;">{{'WHERE_I_WANT_TO_STUDY' | translate}}</legend>

          <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-6">
              <div class="d-flex flex-column">
                <label for="levelOfEducationDesired" class="control-label">{{'LEVEL_OF_EDUCATION_I_WANT_TO_RECEIVE' | translate}}:</label>
                <select type="text" class="form-control required" id="levelOfEducationDesired"
                        [ngModel]="personInfo.levelOfEducationDesired"
                        (ngModelChange)="onChangeLevel($event)"
                        [ngModelOptions]="{standalone: true}">
                  <option *ngFor='let itemLevelDesired of levelsOfEducationDesired'
                          [selected]="itemLevelDesired.id == personInfo.levelOfEducationDesired.id"
                          [ngValue]="itemLevelDesired">
                    {{itemLevelDesired.name | translate}}
                  </option>
                </select>
              </div>
            </div>
            <div style="margin-left: 50px;" class="form-group col-sm-4">
              <div class="d-flex flex-column">
                <label for="yearOfReceipt" class="control-label">{{'PLANNED_YEAR_OF_RECEIPT' | translate}}: </label>
                <input type="text" class="form-control required" id="yearOfReceipt"
                       placeholder="{{'PLANNED_YEAR_OF_RECEIPT' | translate}}..."
                       [(ngModel)]="personInfo.yearOfReceipt"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-4">
              <div class="d-flex flex-column">
                <label for="directionPicker" class="control-label">{{'CHOOSE_A_DESTINATION' | translate}}: </label>
                <select class="form-control required" id="directionPicker" (ngModelChange)="onChangeDirection($event)"
                        [ngModel]="personInfo.selectedDirection"
                        [ngModelOptions]="{standalone: true}">
                  <option *ngFor='let direction of directions' [ngValue]="direction">
                    {{direction.name | translate}}
                  </option>
                </select>
              </div>
            </div>
            <div style="margin-left: 50px;" class="form-group col-sm-6">
              <div class="d-flex flex-column">
                <label for="selectedEducationInstitution1" class="control-label">{{'SELECT_AN_INSTITUTION_OF_EDUCATION' | translate}}: </label>
                <ss-multiselect-dropdown id="selectedEducationInstitution1" [settings]="settings" [texts]="texts"
                                         [options]="educationInstitutionOptions"
                                         [(ngModel)]="educationInstitutionModel"
                                         (ngModelChange)="onChange($event)"
                                         [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
              </div>
            </div>
          </div>

          <legend style="text-align: center;">{{'ADDITIONAL_INFORMATION' | translate}}</legend>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-11">
              <textarea style="resize: none;" rows="10" type="text" class="form-control" id="motivationLetter"
                        [(ngModel)]="personInfo.motivationLetter"
                        [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4"></div>
            <div style="margin-left: 50px;" class="form-group col-sm-6">
              <button class="btn btn-primary btn-lg" (click)="send(false)">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span> {{'SAVE' | translate}}
              </button>
              <button class="btn btn-primary btn-lg" (click)="send(true)">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{'SEND_TO_UNIVERSITY' | translate}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
