<div class="container" style="margin: 90px">
  <div class="row" *ngIf="message">
    <div>
      <div class="col-md-{{size}}">
        <div class="panel panel-footer text-center" role="alert">
          <h3 class="logo">
            <strong>
              From user: {{message.fromId}}
            </strong>
          </h3>
          <a (click)="ok()" style="background-color: #1769ff"
             class="button button-style button-style-dark button-style-icon fa fa-reply smoth-scroll"> Reply</a>
        </div>

        <div class="panel panel-footer">
          <div class="panel-body">
            <div class="input-group col-md-12 input-offset">
              <b>Header:</b> {{message.header}}
              <div class="right-pill"><b>Date:</b> {{message.date}}</div>
            </div>

            <div class="input-group col-md-12 input-offset">
              <b>Text message:</b> {{message.text}}
            </div>

          </div>

        </div>
      </div>
    </div>

    <div *ngIf="an">
      <div class="col-md-6">

        <div class="panel-body">

          <label>Header: </label>
          <div class="input-group col-md-12 input-offset">
            <input class="form-control" [(ngModel)]="header" type="text"
                   id="newHeader" placeholder="Header">
          </div>

          <label>Message: </label>
          <div class="input-group col-md-12 input-offset">
          <textarea class="form-control" type="text" id="newText"
                    placeholder="Text message" [(ngModel)]="text"></textarea>
          </div>

          <div class="right-pill">
            <a (click)="answer()" style="background-color: #1769ff"
               class="button button-style button-style-dark button-style-icon fa fa-send smoth-scroll"> Send</a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="row" *ngIf="!message">
    <legend><b>Enter your message..</b></legend>
    <div class="panel col-md-10">
      <label>Who: </label>
      <select required class="form-control" id="institution" [(ngModel)]="education">
        <option *ngFor="let item of institutions" [ngValue]="item">
          {{item.name}}
        </option>
      </select>
      <label>Header: </label>
      <div class="input-group col-md-12 input-offset">
        <input class="form-control" [(ngModel)]="header" type="text"
               id="header" placeholder="Header">
      </div>

      <label>Message: </label>
      <div class="input-group col-md-12 input-offset">
          <textarea class="form-control" type="text" id="textarea"
                    placeholder="Text message" [(ngModel)]="text"></textarea>
      </div>


      <div class="form-group">
        <a (click)="answer()" style="background-color: #2B2A59; float: right"
           class="button button-style button-style-dark button-style-icon fa fa-send smoth-scroll"> Send
        </a>
      </div>
    </div>
  </div>

</div>


<!--<div class="pull-right">-->
<!--<button class="btn glyphicon glyphicon-pencil"></button>-->
<!--<button-->
<!--class="btn glyphicon glyphicon-ok">-->
<!--</button>-->
<!--</div>-->
