<div class="container">
  <div class="col-lg-4 col-md-4 col-sm-4" style="width: 330px;">
    <div class="panel panel-primary">
      <div class="panel-body">
        <legend class="text-center">{{'SEARCH_SPECIALITIES'| translate}}</legend>
        <app-search (onChanged)="onChanged($event)"></app-search>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <div class="row" *ngFor="let speciality of specialities">
      <div class="panel panel-primary">
        <div class="panel-body">

          <legend>
            <div class="row">
              <div class="col-md-11">{{speciality.name | translate}}</div>
              <div class="col-md-1">
                <a style="text-align: right;" (click)="addAndRemoveClassToFavorites(speciality.id)">
                  <span id="{{speciality.id}}" class="glyphicon glyphicon-star-empty"></span>
                </a>
              </div>
            </div>
            <br>
            <span style="font-size: 16px;" *ngIf="getInstitution(speciality.id)"><a
              routerLink="/institution/{{getInstitution(speciality.id).id}}">{{getInstitution(speciality.id).name | translate}}</a> / {{getInstitution(speciality.id).city | translate}}</span>
          </legend>
          <div class="row">
            <div class="col-md-6">
              <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.directions.length > 0">{{'DIRECTION' | translate}}:
                <span
                  *ngFor="let direction of speciality.directions"><b>{{direction.name | translate}}</b> </span></div>
              <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.levelsOfEducation.length > 0">
                {{'LEVEL_OF_EDUCATION' | translate}}: <span
                *ngFor="let level of speciality.levelsOfEducation"><b>{{level.name | translate}}.</b> </span></div>
              <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.languagesLearning.length > 0">{{'LANGUAGE_OF_INSTRUCTION' | translate}}:
                <span *ngFor="let language of speciality.languagesLearning"><b>{{language.name | translate}}.</b> </span></div>
              <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.duration">{{'DURATION' | translate}}:
                <span><b>{{speciality.duration}} {{'YEARS' | translate}}.</b> </span></div>
            </div>
            <div class="col-md-6">
              <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.formsOfEducation.length > 0">{{'FORM_OF_EDUCATION' | translate}}:
                <span
                  *ngFor="let form of speciality.formsOfEducation"><b>{{form.name | translate}}.</b> </span></div>
              <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.freeEducation">{{'FREE_EDUCATION' | translate}}:
                <span><b>{{speciality.freeEducation.toString() | translate}}.</b> </span></div>
              <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.price">{{'PRICE' | translate}}: <span><b>{{speciality.price}} {{'DOLLARS_IN_YEAR' | translate}}.</b> </span>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-10">
                <button (click)="goDetail(speciality.id)" class="btn btn-primary">{{'MORE_ABOUT_THE_SPECIALITY' | translate}}</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
