<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ 'LOGO' | translate }}</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/institution" routerLinkActive="active">{{'UNIVERSITIES' | translate}}</a>
      </li>
      <li>
        <a routerLink="" routerLinkActive="active"><span
          class="glyphicon glyphicon-education"></span> {{'STEPS_FOR_ADMISSION' | translate}}</a>
      </li>
      <li *ngIf="isAuthorize">
        <a routerLink="/admin" routerLinkActive="active"><span
          class="glyphicon glyphicon-cog"></span> {{'MANAGEMENT' | translate}}</a>
      </li>
      <li *ngIf="isAuthorize">
        <a routerLink="/mail" routerLinkActive="active">{{'MESSAGES' | translate}} <span class="badge">{{count}}</span></a>
      </li>
      <li *ngIf="isAuthorize"><a routerLink="/bookmarks" routerLinkActive="active"><span
        class="glyphicon glyphicon-star"></span> {{ 'BOOKMARKS' | translate }}</a></li>
      <li>
        <a style="cursor: pointer;" (click)="changeLanguage('ru')"><span id="ru">РУС</span></a>
      </li>
      <li>
        <a style="cursor: pointer;" (click)="changeLanguage('en')"><span id="en">ENG</span></a>
      </li>
      <li *ngIf="!isAuthorize"><a routerLink="/login" routerLinkActive="active"><span
        class="glyphicon glyphicon-log-in"></span> {{ 'LOGIN' | translate }}</a></li>
      <li *ngIf="isAuthorize"><a href="" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> {{ 'LOGOUT' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
