<div class="container" style="margin: 90px">
  <div class="col-md-2"></div>

  <form class="form-horizontal col-md-8">
    <div class="col-md-2"></div>
    <div class="form-group col-md-12">
      <div class="panel panel-primary">
        <div class="panel-body">

          <legend style="text-align: center;"><b>{{'PLEASE_SIGN_IN' | translate}}</b></legend>
          <label for="login" class="control-label col-md-3">{{'EMAIL_ADDRESS' | translate}}:</label>
          <div class="form-group col-md-9">
            <input [(ngModel)]="login" [ngModelOptions]="{standalone: true}" type="email" id="login"
                   class="form-control"
                   placeholder="{{'EMAIL_ADDRESS' | translate}}" required>
          </div>
          <label for="password" class="control-label col-md-3">{{'PASSWORD' | translate}}:</label>
          <div class="form-group col-md-9">
            <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" id="password"
                   class="form-control"
                   placeholder="{{'PASSWORD' | translate}}" required>
          </div>
          <div class="col-md-3"></div>
          <div class="form-group col-md-6">
            <a (click)="authenticate()" style="background-color: #5e5e5e" class="button button-style button-style-icon fa fa-sign-in smoth-scroll">
              {{'SIGN_IN' | translate}}
            </a>

          </div>

          <div class="form-group col-md-12">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <h2>{{'NO_ACCOUNT' | translate}} <a routerLink="/sign-up">
                  <span class="label label-default">{{'REGISTRATION' | translate}}</span>
                </a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


</div> <!-- /container -->
