<div class="container">
  <div *ngIf="id == 1">
    <h3>Семьи сотрудников университета, учащихся колледжей и школ города соревновались в ГрГУ имени Янки Купалы</h3>
    <div class="row">
      <div class="col-sm-12">
        <img style="padding-right: 20px;" width="400" height="300"
             src="https://www.grsu.by/images/gallery/2017/5/03papamama/5070_96.JPG" class="img-responsive pull-left"
             alt=""/>
        <p>
          <b>
            Цикл спортивных мероприятий «Папа, мама, я – спортивная семья» гражданско-патриотического марафона «Вместе
            –
            за сильную и процветающую Беларусь» завершился в Гродненском государственном университете имени Янки Купалы.
          </b>
        </p>
        В течение трех соревновательных дней семьи сотрудников вуза, Гуманитарного и Технологического колледжей, а
        также
        учеников школ города сражались за победу в девяти конкурсах.
        В «Визитной карточке семьи» участники представляли название своей команды, эмблему, девиз, рассказывали о себе
        и
        приветствовали жюри и соперников.
        Затем собирали фразу «День Победы» на скорость и преодолевали «веселую переправу» на ходулях, скакалках и
        обручах,
        тем самым демонстрируя свою скорость, ловкость, хорошую физическую подготовку и умение находить нестандартные
        решения.
        Кроме того, судейская коллегия предложила участникам проверить свои силы в прыжках в длину, пробежаться в
        мешках
        и
        сыграть в семейный баскетбол и необычный хоккей, где символическими шайбами стали теннисный и гандбольные
        мячи,
        которые необходимо было провести вокруг установленных фишек и стоек.
        В конкурсе «Ручеек» семьи прошли эстафету, а в конкурсе «Дети, в школу собирайтесь» каждому ребенку вручили
        портфель, который как можно скорее необходимо было наполнить предметами.
        Завершающее десятое состязание – эстафета «Папа, мама, я – спортивная семья» пройдет 6 мая на базе стадиона
        факультета физической культуры, где жюри окончательно определит победителей.
        По предварительным данным в конкурсе «Папа, мама, я – спортивная семья» лидирует семейная команда Матус,
        представляющая гимназию № 6 г. Гродно. На втором месте семья Ирха, которая защищает честь факультета истории,
        коммуникации и туризма. На третьем – семья Санюкевичей, выступающая за среднюю школу № 33 г. Гродно. Четвертое
        место у семьи Бородич, которая представляет факультет физической культуры.
      </div>
    </div>
  </div>
  <div *ngIf="id == 2">
    <h3>Женская сборная ГрГУ имени Янки Купалы стала лучшей на Республиканской универсиаде – 2017 по самбо</h3>
    <div class="row">
      <div class="col-sm-12">
        <img style="padding-right: 20px;" width="400" height="300"
             src="https://www.grsu.by/images/Sambo.jpg" class="img-responsive pull-left"
             alt=""/>
        <p>
          <b>
            Девушки заняли общекомандное первое место, а также завоевали призовые места в личном зачете на соревнованиях. Достойные результаты показали и юноши.</b>
        </p>
        Республиканская универсиада – 2017 по самбо проходила в Минске и собрала сильнейшие женские и мужские команды со всех регионов Беларуси. Постоянными участниками состязания являются студенты Гродненского государственного университета имени Янки Купалы, которые ежегодно привозят медали престижного республиканского турнира.
        В этом году женская сборная купаловского университета не менее успешно выступила на универсиаде: в схватках девушки одолели соперниц и стали первыми.
        В личном зачете высокие результаты показали студентка факультета физической культуры Ксения Данилович (весовая категория 56 кг), студентка юридического факультета Юлия Трахневич (весовая категория 72 кг) и студентка факультета психологии Екатерина Калюжная (весовая категория свыше 80 кг). Девушки принесли команде золотые медали.
        «Бронзу» в весовой категории 64 кг завоевала студентка факультета физической культуры Кристина Янович-Цан (64 кг), а в весовой категории 80 кг – студентка юридического факультета Екатерина Радченкова.
        Тренирует девушек заведующий кафедрой спортивных игр Александр Бардин.
        Мужская команда на Республиканской универсиаде – 2017 по самбо заняла шестое место. В личном зачете бронзовые медали у студентов факультета физической культуры Никиты Карикова (весовая категория 82 кг), Сергея Гакутя (весовая категория 90 кг), Романа Столяра (весовая категория 62 кг) и курсанта военного факультета Алексея Ажеля (весовая категория 74 кг).
        Тренером ребят является старший преподаватель кафедры физического воспитания и спорта Иван Шарко.
      </div>
    </div>
  </div>
  <div *ngIf="id == 3">
    <h3>В ГрГУ имени Янки Купалы назвали лучших знатоков иностранных языков</h3>
    <div class="row">
      <div class="col-sm-12">
        <img style="padding-right: 20px;" width="400" height="300"
             src="https://www.grsu.by/images/gallery/2017/5/03olimpiada/5063_1.JPG" class="img-responsive pull-left"
             alt=""/>
        <p>
          <b>
            V Университетская олимпиада по иностранным языкам завершилась в Гродненском государственном университете имени Янки Купалы. Состязание собрало более 170 студентов.</b>
        </p>
        Олимпиада проходила в два этапа. В первом туре участники демонстрировали знания страны изучаемого языка – Великобритании, Германии и Франции, а во втором показали, как отметили организаторы, высокий уровень владения иностранными языками.
        Победителями в олимпиаде по английскому языку стали студенты 1 курса юридического факультета Евгений Пустошило и Анна Чирун. Вторыми – студенты 2 курса факультета экономики и управления и факультета математики и информатики Алексей Рапекта и Павел Дорошенко, студент 1 курса юридического факультета Матвей Макеенко. Третье место у студентов 1 курса факультета математики и информатики Натальи Черток и Владислава Леха.
        В олимпиаде по немецкому языку первое место заняла студентка 1 курса факультета экономики и управления Диана Клименкова, второе – студентка 1 курса факультета экономики и управления Анна Колесникович, третье разделили студенты 1 курса филологического факультета Вероника Черепко и Ольга Лазаревич.
        – По результатам олимпиады студенты получили сертификаты участников с указанием уровня владения иностранным языком в системе CEFR, – рассказали организаторы.
        В олимпиаде по страноведению победителей оказалось больше. Отличные знания по истории и культуре Великобритании показал студент 1 курса физико-технического факультета Владислав Ушкевич, занявший первое место. Второе присудили студенту 1 курса физико-технического факультета Олегу Вартанову, третье место студентке 1 курса юридического факультета Анастасии Ломать, студентке 1 курса факультета математики и информатики Дарье Рахунок и студентке 1 курса факультета искусств и дизайна Анастасии Худик.
        Лучшим знатоком культурно-исторических особенностей Германии стала
        студентка 1 курса юридического факультета Анастасия Попок. Второе место разделили студентки 1 курса филологического и юридического факультетов Яна Пекарь и Марта Струг, третье место у студентки 1 курса филологического факультета Ольги Лазаревич.
        Победителем олимпиады по страноведению Франции признана студентка 1 курса филологического факультета Анастасия Петько. Второе занял студент 1 курса факультета истории, коммуникации и туризма Павел Скробатун, третье – студентка 2 курса юридического факультета Валерия Шалковская.
        Дипломы, сертификаты и грамоты победителям вручили начальник учебного отдела учебно-методического отдела Анатолий Богдевич и заведующий кафедрой иностранных языков Светлана Гончар.</div>
    </div>
  </div>
</div>
