<div *ngIf="speciality" class="container" style="margin: 90px">
  <legend><h3 class="text-center">{{speciality.name}}</h3></legend>
  <div class="col-md-8">
    <div class="panel panel-success">
      <div class="panel-body">
        <legend>Основная информация о специальности</legend>
        <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.directions.length > 0">Направление: <span
          *ngFor="let direction of speciality.directions"><b>{{direction.name}}</b> </span></div>
        <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.levelsOfEducation.length > 0">Уровень:
          <span
            *ngFor="let level of speciality.levelsOfEducation"><b>{{level.name}}.</b> </span></div>
        <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.languagesLearning.length > 0">Язык
          обучения: <span
            *ngFor="let language of speciality.languagesLearning"><b>{{language.name}}.</b> </span></div>
        <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.duration">Продолжительность: <span><b>{{speciality.duration}} лет.</b> </span>
        </div>
        <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.formsOfEducation.length > 0">Форма: <span
          *ngFor="let form of speciality.formsOfEducation"><b>{{form.name}}.</b> </span></div>
        <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.freeEducation">Возможность бесплатного
          обучения:
          <span><b>{{speciality.freeEducation ? "Есть" : "Нету"}}.</b> </span></div>
        <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.price">Стоимость обучения: <span><b>{{speciality.price}} долларов в год.</b> </span>
        </div>
        <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.code">Код:
          <span><b>{{speciality.code}}.</b> </span>
        </div>
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-body">
        <legend>Контакты для связи</legend>
        <div style="padding-top: 3px;padding-bottom: 3px;">Контактное лицо: <span><b>(Имя) (Фамилия) (Отчество). Тел. +(Номер телефона).</b> </span>
        </div>
        <div style="padding-top: 3px;padding-bottom: 3px;">E-mail: <span><b>email.com.</b> </span>
        </div>
      </div>
    </div>
  </div>
  <!--div class="panel panel-default">
    <div *ngIf="comments">
    <b>Отзывы</b>
    <div class="panel-heading" *ngFor="let c of comments">
      Who: <strong>{{c.username}}</strong> ------------------ Date: <i>{{c.date}}</i>
    </div>
    <legend>
      <div class="panel-body" *ngFor="let c of comments">
        Message: {{c.text}}
      </div>
    </legend>
    </div>
  </div>
  <input class="text-area" type="text" [(ngModel)]="text"/>
  <button class="btn btn-default" (click)="addComment(speciality.id)"></button>
</div-->
  <div *ngIf="institution && faculty" class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-body">
        <div class="row">
          <img class="center-block" src="https://upload.wikimedia.org/wikipedia/ru/c/cd/LogoGrGU.png"/>
        </div>
        <div class="row">
          <legend class="text-center"><h4>Контактная информация</h4></legend>
          <div style="padding-top: 3px;padding-bottom: 3px;" class="row text-center">{{institution.address}}</div>
          <div style="padding-top: 3px;padding-bottom: 3px;" class="row text-center"><b><a
            href="{{institution.site}}">{{institution.site}}</a></b>
          </div>
          <legend style="padding-top: 10px;"></legend>
          <legend class="text-center">Факультет</legend>
          <div style="padding-top: 3px;padding-bottom: 3px;" class="row text-center">{{faculty.name}}</div>
          <div style="padding-top: 3px;padding-bottom: 3px;" class="row text-center">Корпус располагается по адресу:
            {{faculty.address}}
          </div>
          <legend style="padding-top: 10px;"></legend>
          <div style="padding-top: 3px;padding-bottom: 3px;" class="row text-center">
            <button style="width: 300px;" (click)="goDetailInstitution(institution.id)" class="btn btn-primary">
              Подробнее об университете
            </button>
          </div>
          <div style="padding-top: 3px;padding-bottom: 3px;" class="row text-center">
            <button style="width: 300px;" (click)="goSpecialityInstitution(institution.id)" class="btn btn-primary">
              Все специальности университета
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
