<div class="container" *ngIf="institutions" style="margin: 90px">

  <div class="col-lg-12" >
    <div class="panel panel-success">
      <div class="panel-body" *ngFor="let institution of institutions">
        <legend><h3>{{institution.name}}</h3></legend>
        <div style="padding-left: 15px;" class="row">
          <div class="col-lg-3  thumbnail">
            <img width="260px" height="110px" src="http://grodno24.com/assets/images/2014/01/grsu.jpg"/>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-6">
            <div class="row">Город: <b>{{institution.city}}.</b></div>
            <div class="row" style="padding-top: 3px;">Адрес: <b>{{institution.address}}.</b></div>
            <div class="row" style="padding-top: 3px;">Сайт: <b><a href="{{institution.site}}">{{institution.site}}</a>.</b></div>
            <div class="row" style="padding-top: 3px;">Почта: <b>{{institution.primaryMail}}.</b></div>
            <div class="row" style="padding-top: 3px;">Обратная связь: <b>{{institution.mailFeedback}}.</b></div>
            <div class="row" style="padding-top: 3px;">Количество факультетов: <b>{{institution.faculties.length}}.</b></div>
            <div class="row" style="padding-top: 3px;">Количество специальностей: <b>{{getCountSpeciality(institution.id)}}.</b></div>
          </div>
          <div class="col-lg-2">
            <img class="center-block" src="https://upload.wikimedia.org/wikipedia/ru/c/cd/LogoGrGU.png"/>
          </div>
        </div>
        <div class="row" style="padding-left: 15px;">
          <button (click)="goDetail(institution.id)" class="btn btn-primary">Подровнее об учреждении образования <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>
    </div>
  </div>

</div>
