<div class="col-lg-12" *ngIf="institution">
  <div style="padding-left: 15px;" class="row">
    <div class="row">
      <div class="col-md-12">
        <img class="center-block" src="http://grodno24.com/assets/images/2014/01/grsu.jpg"/>
      </div>
    </div>
    <div style="margin-top: 30px;" class="row">
      <div class="col-md-12">
        <legend>Краткая информация</legend>
        <ul class="list-unstyled">
          <li style="font-size: 18px;">
            {{'CITY' | translate}}: <b>{{institution.city | translate}}.</b>
          </li>
          <li style="font-size: 18px; padding-top: 3px;">
            {{'ADDRESS' | translate}}: <b>{{institution.address |
            translate}}.</b>
          </li>
          <li style="font-size: 18px; padding-top: 3px;">
            {{'SITE' | translate}}: <b><a href="{{institution.site}}">{{institution.site}}</a>.</b>
          </li>
          <li style="font-size: 18px; padding-top: 3px;">
            {{'EMAIL' | translate}}: <b>{{institution.primaryMail}}.</b>
          </li>
          <li style="font-size: 18px; padding-top: 3px;">
            {{'FEEDBACK' | translate}}: <b>{{institution.mailFeedback}}.</b>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div style="font-size: 18px;" class="col-md-12">
        <legend style="padding-top: 20px;">История университета</legend>
        22 февраля 1940 года по решению СНК БССР в Гродно был основан учительский институт, развитие которого было
        прервано Великой Отечественной войной. Уже в 1944 году занятия продолжились, причём параллельно учительский
        институт был преобразован в педагогический (с тремя факультетами — физико-математическим, литературным и
        иностранных языков). В 1957 году институту присвоено имя Янки Купалы. В 1967 году при институте состоялась
        первая защита докторской диссертации, а в 1969 году открылась аспирантура. 1 мая 1978 года педагогический
        институт был преобразован в Гродненский государственный университет имени Янки Купалы.

        1 сентября 2010 года — ввод системы электронных студенческих билетов[1]. Второе (после БГУ) учебное заведение в
        Республике Беларусь, где внедрена система электронных студенческих билетов.

        В 2010 году Гродненский государственный университет имени Янки Купалы первым среди региональных вузов Республики
        Беларусь получил национальный и международный сертификаты соответствия системы менеджмента качества требованиям
        СТБ ISO 9001-2009 и ISO 9001:2008 (серия стандартов ISO 9000)[2][3].

        В 2011 году первым среди высших учебных заведений страны стал лауреатом национального конкурса «Премия
        Правительства Республики Беларусь за достижения в области качества»[4][5][6].

        В 2011 году Гродненский университет имени Янки Купалы получил статус научной организации[7]. По данным
        международного рейтинга Webometrics (январь 2013), ГрГУ им. Янки Купалы занимает второе место среди белорусских
        вузов и 1861 место среди 11 997 вузов мира[8].

        В 2014 году агентство «Эксперт РА» включило ВУЗ в список лучших учебных заведений Содружества Независимых
        Государств, где ему был присвоен рейтинговый класс «D»
      </div>
    </div>
  </div>
</div>

