.container h2{
  font-family: "Times New Roman";
}

ul.nav.nav-pills>li a{
  background: white;
  border: green 2px solid;
  border-radius: 20px;
  color: black;
  margin-left: 10px;
  width: 180px;
  text-align: center;
}

ul.nav.nav-pills>li a:hover{
  background: green;
  border: green 2px solid;
  border-radius: 20px;
  color: white;
}

ul.nav.nav-pills>li a:active{
  background: green;
  border: green 2px solid;
  border-radius: 20px;
  color: white;
}
