<div style="margin: 90px;" class="bs-docs-header">
  <div class="container col-lg-12">
    <div class="col-lg-12" style="margin-top: 40px;">
        <ul class="nav nav-pills">
          <li routerLinkActive="active"><a class="button button-style button-style-dark" routerLink="description" >{{'GENERAL_INFORMATION' | translate}}</a></li>
          <li routerLinkActive="active"><a class="button button-style button-style-dark" routerLink="speciality">{{'SPECIALITIES' | translate}}</a></li>
          <li routerLinkActive="active"><a class="button button-style button-style-dark" routerLink="faculty">{{'FACULTIES' | translate}}</a></li>
          <li routerLinkActive="active"><a class="button button-style button-style-dark" routerLink="news">{{'NEWS_1' | translate}}</a></li>
        </ul>
    </div>
  </div>
  <div style="margin-top: 20px;" class="container col-lg-12">
    <router-outlet></router-outlet>
  </div>
</div>

