<div style="margin: 90px;" class="bs-docs-header">
  <div class="container col-lg-12">
    <div class="col-lg-12" style="margin-top: 40px;">
        <ul class="nav nav-pills">
          <li><a class="button button-style button-style-dark button-style-icon fa fa-arrow-right smoth-scroll" routerLink="description" routerLinkActive="active">{{'GENERAL_INFORMATION' | translate}}</a></li>
          <li><a class="button button-style button-style-dark" routerLink="speciality" routerLinkActive="active">{{'SPECIALITIES' | translate}}</a></li>
          <li><a class="button button-style button-style-dark" routerLink="faculty" routerLinkActive="active">{{'FACULTIES' | translate}}</a></li>
          <li><a class="button button-style button-style-dark" routerLink="news" routerLinkActive="active">{{'NEWS_1' | translate}}</a></li>
        </ul>
    </div>
  </div>
  <div style="margin-top: 20px;" class="container col-lg-12">
    <router-outlet></router-outlet>
  </div>
</div>

