<div class="container">

  <ul class="tabs">
    <li class="tab-link current" (click)="showTab('1')" id="tabs-tab-1">Специальности</li>
    <li class="tab-link" (click)="showTab('2')" id="tabs-tab-2">Университеты</li>
    <li class="tab-link" (click)="showTab('3')" id="tabs-tab-3">Новости</li>
  </ul>

  <div id="tab-1" class="tab-content">
    <div class="col-md-12">
      <div class="row" *ngFor="let speciality of specialities">
        <div class="panel panel-primary">
          <div class="panel-body">
            <legend>
              <div class="row">
                <div class="col-md-11">{{speciality.name}}</div>
              </div>
            </legend>
            <div class="row">
              <div class="col-md-6">
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.directions.length > 0">Направления:
                  <span
                    *ngFor="let direction of speciality.directions"><b>{{direction.name}}</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.levelsOfEducation.length > 0">
                  Уровень: <span
                  *ngFor="let level of speciality.levelsOfEducation"><b>{{level.name}}.</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.languagesLearning.length > 0">Язык
                  обучения: <span
                    *ngFor="let language of speciality.languagesLearning"><b>{{language.name}}.</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.duration">Продолжительность:
                  <span><b>{{speciality.duration}} лет.</b> </span></div>
              </div>
              <div class="col-md-6">
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.formsOfEducation.length > 0">Форма:
                  <span
                    *ngFor="let form of speciality.formsOfEducation"><b>{{form.name}}.</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.freeEducation">Возможность
                  бесплатного обучения:
                  <span><b>{{speciality.freeEducation ? "Есть" : "Нету"}}.</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.price">Стоимость обучения:
                  <span><b>{{speciality.price}} долларов в год.</b> </span>
                </div>
              </div>
            </div>
            <button (click)="goDetail(speciality.id)" class="btn btn-primary">Подробнее о специальности</button>
          </div>
        </div>
      </div>
    </div>
    <legend></legend>
  </div>
  <div id="tab-2" class="tab-content">
    Университеты
  </div>
  <div id="tab-3" class="tab-content">
    Новости
  </div>
</div>
