<div class="container" style="margin-top: 90px">

  <ul class="tabs">
    <li class="tab-link current" (click)="showTab('1')" id="tabs-tab-1">{{'SPECIALITIES' | translate}}</li>
    <li class="tab-link" (click)="showTab('2')" id="tabs-tab-2">{{'UNIVERSITIES' | translate}}</li>
    <li class="tab-link" (click)="showTab('3')" id="tabs-tab-3">{{'NEWS_1' | translate}}</li>
  </ul>

  <div id="tab-1" class="tab-content">
    <div class="col-md-12">
      <div class="row" *ngFor="let speciality of specialities">
        <div class="panel panel-success">
          <div class="panel-body">
            <legend>
              <div class="row">
                <div class="col-md-11">{{speciality.name | translate}}</div>
              </div>
            </legend>
            <div class="row">
              <div class="col-md-6">
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.directions.length > 0">{{'DIRECTION' | translate}}:
                  <span
                    *ngFor="let direction of speciality.directions"><b>{{direction.name  | translate}}</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.levelsOfEducation.length > 0">
                  {{'LEVEL_OF_EDUCATION' | translate}}: <span
                  *ngFor="let level of speciality.levelsOfEducation"><b>{{level.name | translate}}.</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.languagesLearning.length > 0">{{'LANGUAGE_OF_INSTRUCTION' | translate}}: <span
                    *ngFor="let language of speciality.languagesLearning"><b>{{language.name | translate}}.</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.duration">{{'DURATION' | translate}}:
                  <span><b>{{speciality.duration}} {{'YEARS' | translate}}.</b> </span></div>
              </div>
              <div class="col-md-6">
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.formsOfEducation.length > 0">{{'FORM_OF_EDUCATION' | translate}}:
                  <span
                    *ngFor="let form of speciality.formsOfEducation"><b>{{form.name | translate}}.</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.freeEducation">{{'FREE_EDUCATION' | translate}}:
                  <span><b>{{speciality.freeEducation.toString() | translate}}.</b> </span></div>
                <div style="padding-top: 3px;padding-bottom: 3px;" *ngIf="speciality.price">{{'PRICE' | translate}}:
                  <span><b>{{speciality.price}} {{'DOLLARS_IN_YEAR' | translate}}.</b> </span>
                </div>
              </div>
            </div>
            <a style="background-color: #d8be10" class="button button-style button-style-dark button-style-icon" (click)="goDetail(speciality.id)">{{'MORE_ABOUT_THE_SPECIALITY' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
    <legend></legend>
  </div>
  <div id="tab-2" class="tab-content">
    Университеты
  </div>
  <div id="tab-3" class="tab-content">
    Новости
  </div>
</div>
